div.box(ng-class='{gas: stateInRoomTemperature === "gas", liquid: stateInRoomTemperature === "liquid", solid: stateInRoomTemperature === "solid", "real-element": isReal}' ng-click='onClick()')
    p.abbreviation
        |{{elementData.abbreviation}}
    p.name
        |{{elementData.name}}
    p.mass
        |{{elementData.id}}